.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.1px solid #323232; 
}
.navbar h3 i{
    margin-bottom: px;
    color: rgb(248, 123, 123);
    text-decoration: underline;
}

.logoname {
    margin: 1.2rem 2rem;
    font-size: 20px;
}
.userIconDiv {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.userIcon {
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    padding: 20px 48px 20px 20px;
    font-size: 1rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit i:hover {
    color: #fff;
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #b4b4b4;
    text-decoration: underline;
}

.dropDown {
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    width: 150px;

    background-color: #323232;
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.dropDownItem {
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2rem;
    cursor: pointer;
    text-align: center;
}
.dropDownItem:hover {
    background-color: rgba(180,180,180,0.1);
    border-radius: 6px;
}